version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: bank-mongodb
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_DATABASE=bank
    volumes:
      - mongodb_data:/data/db
    networks:
      - bank-network

networks:
  bank-network:
    driver: bridge

volumes:
  mongodb_data:
